<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />
    {% endblock %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Matematica para todos</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Matemática</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pageCalc2Grau">Calculo 2º Grau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pageCalcFahr">Converter Fahrenheit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Your page content -->
    {% block content %}{% endblock %}
  </body>
</html>
