{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="pt-br">
  <body>
    <div class="container mt-4 pt-3">
      <h1 class="pt-5">Converter Celsius para Fahrenheit</h1>
      <form action="/calc_fahrenheit" method="get">
        <div class="form-group">
          <label for="celsius">Temperatura em Celsius:</label>
          <input
            type="number"
            class="form-control"
            id="celsius"
            name="celsius"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Converter</button>
      </form>
    </div>

    <!-- Resultado -->
    {% if f %}
    <div class="container">
      <h1 class="mt-5">Resultado da conversão é</h1>
      <div class="alert alert-success">
        <p>O valor em fahrenheit é: {{f}}</p>
      </div>
    </div>
    {% endif %}
  </body>
</html>

{% endblock %}
